{% extends "base.html" %}
{% block title %}Automated Memer{% endblock %}
{% block content %}
<style>
    .video-preview {
        width: 65%;
    }
     .card {
                transition: transform 0.3s ease;
            }
            
                .card:hover {
                transform: scale(1.05);
            }
    
           
    
</style>
<div class="container" style="position:relative;top:-10vh;width:50%;height:101vh;background-color:black;border:2px solid #ffc451;">
<h1 style="text-align:center;position:absolute;top:3vh;left:14vw;">Your Video</h1> 
    <div class="card card-cover overflow-hidden  shadow-lg border" style="width:45%;position: relative;left: 13vw;top:4vh;height:84vh;">           
        <div class="d-flex flex-column text-white text-shadow-1" style="justify-content:center;border:10px #ffc451;">
            <video src='static/UserData/{{user_email}}/Final_Video/Final_Video.mp4' style=" border: 5px solid #ffc451;" controls autoplay muted loop ></video>
        </div>
    </div>
<br>
<a href='https://www.youtube.com/' style="position:relative;left:23vw;top:-50vh;" class="submit_button" >Upload to Youtube</a>
<a href='static/UserData/{{user_email}}/Final_Video/Final_Video.mp4' style="position:relative;left:11vw;top:-6vh;" class="submit_button" download>Download Video</a>
</div>
</section>


    
    

<script>
    document.getElementById("navbar").remove();
    document.getElementById("get_started").remove();
    document.getElementById("video2").remove();
    document.getElementById("video3").remove();

</script>
{%endblock%}