{% extends "base.html" %}
{% block title %}Automatic Memer{% endblock %}
{% block content %}

<!-- Header-->


<h1 class="display-5 fw-bolder text-white mb-2 " style="animation-duration: 3s; animation-name: fade-in;">Automated Memer</h1>
<p class="lead text-white-50 mb-4">Convert Reddit memes into Youtube Shorts Automatically!</p>
<div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{{url_for('google_login')}}">Login with Google</a>
</div>

{% endblock %}